<div class="center column">
  <div id="customCard" class="column">
    <fa-icon [icon]="faLock" class="fa-3x center-row"></fa-icon>
    <h1>Login</h1>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Please type your email">
    </mat-form-field>

    <mat-form-field appearance="outline" class="">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Please type your password">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="login()">Login</button>
    <button mat-button routerLink="/signup">Sign up</button>
  </div>
</div>
