<div class="center column" style="z-index: 1 !important;">
  <div id="customCard" class="column">
    <fa-icon [icon]="userPlus" class="fa-3x center-row"></fa-icon>
    <h1>Sign Up</h1>
    <mat-error *ngIf="errors.emailError">Please type a real email</mat-error>
    <mat-form-field appearance="outline">
      <input type="text" matInput placeholder="Please type your email" required>
      <mat-label>Email</mat-label>
    </mat-form-field>
    <mat-error *ngIf="errors.passwordError">Please type a password</mat-error>
    <mat-form-field appearance="outline" class="">
      <mat-label>Password</mat-label>
      <input type="password"  minlength="8" matInput placeholder="Please type your password" required>
    </mat-form-field>
    <mat-error *ngIf="errors.password2Error">Please type your password again</mat-error>
    <mat-error *ngIf="errors.differentPasswords">Passwords are not matching</mat-error>
    <mat-form-field appearance="outline" class="">
      <mat-label>Password confirmation</mat-label>
      <input type="password" minlength="8" matInput placeholder="Please type your password again" required>
    </mat-form-field>
    <button
      (click)="signUp();"
      mat-raised-button color="primary">Sign up
    </button>
    <button mat-button routerLink="/login">Login</button>
  </div>
</div>
