<mat-accordion id="navbar navbar-dark">
  <mat-expansion-panel (opened)="isOpen = true"
                       (closed)="isOpen = false" hideToggle>
    <mat-expansion-panel-header style="background:dodgerblue">

      <mat-panel-title>
        <button mat-icon-button (click)="isOpen=!isOpen">
          <fa-icon [icon]="menu"></fa-icon>
        </button>
        Menu
      </mat-panel-title>
      <mat-panel-description>
        {{title}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="column" style="z-index: 100 !important;">
      <div *ngFor="let item of navItems">
        <div class="center-row">
          <button *ngIf="item.route!='/login'" [routerLink]="item.route"
                  [color]="currentRoute===item.route?'accent':'primary'" mat-button>{{item.name}}</button>
          <button *ngIf="item.route==='/login'" (click)="logOut()"
                  [color]="currentRoute===item.route?'accent':'primary'" mat-button>{{item.name}}</button>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
