/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center {
  text-align: center;
  height: 90%;
  width: 100%;
  margin: auto;
  position: relative;
}

.column {
  text-align: center;
  display: flex;
  flex-flow: column wrap
}

.center-row {
  text-align: center;
}

#customCard {
  width: 50%;
  position: center;
  margin: auto;
  background: cadetblue;
  padding: 50px;
  border-radius: 15px;
}

.padding {
  padding: 3px 8px;
}

.shrink {
  padding: 0;
  margin: 0;
}

.innerDiv {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}
